@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* navigation */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 60px;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: grey;
}

#navbar li a:hover{
    color: white;
}

#navbar li a.active{
    color: white;
}

/* movie poster */

#evil{
    background-image: url(../images/movies/mario/smario.jpg);
    height: 92vh;
    width: 100%;
    background-size: cover;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    padding-top: 50vh;
}

#evil h1{
    color: white;
    font-weight: bold;
    font-size: 80px;
}

#evil p{
    color: white;
    font-size: 15px;
    padding-top: 15px;
    
}

#evil h2{
    color: white;
    font-size: 18px;
    padding-top: 15px;
}

/* movie details */

#moviedetails {
   margin-left: 60px;
   margin-right: 60px;
}

#moviedetails h1{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.cast{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cast img{
    height: 200px;
}

.cast .actors{
    text-align: center;
    font-size: 20px;    
}

.cast h4{
    padding-top: 10px;
    padding-bottom: 5px;
}

.cast p{
    font-size: 15px;
}

.dir {
    display: flex;
}

.dir p{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
}

.wir {
    margin-top: 10px;
    display: flex;
}

.wir p{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.posters{
    display: flex;
    justify-content: space-between;
}

.posters img{
    height: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* book tickets */

#book h1{
    padding: 40px 60px;
    font-size: 40px;
}

#details{
    margin-left: 60px;
    margin-right: 60px;
}

#details form .userdetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#details form .moviedetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#details form .inputbox label{
    display: block;
    margin-bottom: 10px;
}

#details form .inputbox input{
    height: 50px;
    width: 55vh;
    padding: 20px 20px;
    font-size: 15px;
    margin-bottom: 40px;
    border-color: rgb(100, 100, 255);
    border-style: solid;
}

#details form select{
    font-size: 15px;
    border-width: 2px;
    padding-left: 20px;
    height: 50px;
    width: 55vh;
    border-color: rgb(100, 100, 255);
    border-style: solid;
    -webkit-appearance: none;
    appearance: none;
}
.button{
    margin-top: 50px;
}
#details form .btn{
    width: 24vh;
    height: 6vh;
    margin-bottom: 50px;
    background-color: rgb(50, 50, 50);
    border-style: none;
    color: white;
    cursor: pointer;
}

#details form .btn2{
    margin-left: 6.2vh;
    width: 24vh;
    height: 6vh;
    margin-bottom: 50px;
    background-color: rgb(230, 0, 0);
    border-style: none;
    color: white;
    cursor: pointer;
}

/* footer */

footer{
    background-color: black;
    text-align: center;
    padding-top: 20px;
}

footer img{
    width: 200px;
    height: 80px;
}

footer h3{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 30px;
    font-weight: 100;
}

footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(29, 29, 29);
}

footer a{
    text-decoration: none;
    color: white;
}